.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.list-group-item{
  cursor: pointer;
  transition: 0.5s all;
  &:hover{
    background-color: #ebebfa;
    border-color: #dbdbf6;
  }
}
